{% extends 'base.html' %}

{% block title %}Photos de {{ user.username }}{% endblock %}

{% block content %}
<h2>Photos de {{ user.username }}</h2>
<div class="photos-grid">
    {% if posts %}
        {% for post in posts %}
            <div class="photo-item">
                <img src="{{ url_for('main.uploaded_file', filename=post.image) }}" alt="Photo">
                {% if current_user == user %}
                    <button onclick="window.location.href='{{ url_for('profile.set_profile_photo', photo_id=post.id) }}'">Utiliser comme photo de profil</button>
                    <button onclick="window.location.href='{{ url_for('profile.set_cover_photo', photo_id=post.id) }}'">Utiliser comme photo de couverture</button>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>Aucune photo à afficher.</p>
    {% endif %}
</div>
{% endblock %}
