{% extends 'base.html' %}

{% block title %}Paramètres du Compte - SportLink{% endblock %}

{% block content %}
<div class="settings-container">
    <h1 class="main-title">Paramètres du Compte</h1>

    <div class="setting-option">
        <button class="btn-primary toggle-btn" onclick="toggleVisibility('change-email-form')">Changer l'adresse email</button>
        <div id="change-email-form" class="form-container" style="display: none;">
            <form method="POST" action="{{ url_for('profile.change_email') }}">
                {{ change_email_form.hidden_tag() }}
                <div class="form-group">
                    {{ change_email_form.email.label }}
                    {{ change_email_form.email(class="form-control") }}
                </div>
                <button type="submit" class="btn-primary">{{ change_email_form.submit.label }}</button>
            </form>
        </div>
    </div>

    <div class="setting-option">
        <button class="btn-primary toggle-btn" onclick="toggleVisibility('change-password-form')">Changer le mot de passe</button>
        <div id="change-password-form" class="form-container" style="display: none;">
            <form method="POST" action="{{ url_for('profile.change_password') }}">
                {{ change_password_form.hidden_tag() }}
                <div class="form-group">
                    {{ change_password_form.current_password.label }}
                    {{ change_password_form.current_password(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ change_password_form.new_password.label }}
                    {{ change_password_form.new_password(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ change_password_form.confirm_new_password.label }}
                    {{ change_password_form.confirm_new_password(class="form-control") }}
                </div>
                <button type="submit" class="btn-primary">{{ change_password_form.submit.label }}</button>
            </form>
        </div>
    </div>

    <div class="setting-option">
        <button class="btn-secondary toggle-btn" onclick="toggleVisibility('delete-account-form')">Supprimer le compte</button>
        <div id="delete-account-form" class="form-container" style="display: none;">
            <form method="POST" action="{{ url_for('profile.delete_account') }}">
                {{ delete_account_form.hidden_tag() }}
                <div class="form-group">
                    {{ delete_account_form.confirm }}
                    {{ delete_account_form.confirm.label|safe }}
                </div>
                <button type="submit" class="btn-danger">{{ delete_account_form.submit.label }}</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
