{% extends 'base.html' %}

{% block title %}Créer une publication - SportLink{% endblock %}

{% block content %}
<h2>Créer une Nouvelle Publication</h2>
<form method="POST" action="{{ url_for('posts.create_post') }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.content_type.label }} {{ form.content_type }}
    </div>

    <div id="sport_fields" style="display: none;">
        <div class="form-group">
            {{ form.title.label }} {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.subtitle.label }} {{ form.subtitle }}
        </div>
    </div>

    <div class="form-group">
        {{ form.content.label }} {{ form.content }}
    </div>

    <div class="form-group">
        {{ form.image.label }} {{ form.image }}
    </div>

    <div class="form-group">
        {{ form.video.label }} {{ form.video }}
    </div>

    <div class="form-group">
        {{ form.music.label }} {{ form.music }}
    </div>

    <div class="form-group">
        {{ form.visibility.label }} {{ form.visibility }}
    </div>

    {{ form.submit }}

</form>

<script>
    function togglePostType() {
        const contentType = document.getElementById('content_type').value;
        document.getElementById('sport_fields').style.display = contentType === 'sport' ? 'block' : 'none';
    }

    // Ajouter un écouteur d'événement pour détecter le changement de type de contenu
    document.getElementById('content_type').addEventListener('change', togglePostType);

    // Appeler la fonction au chargement de la page pour définir l'état initial
    window.onload = function() {
        togglePostType();
    };
</script>
{% endblock %}
