<!-- Modal overlay -->
<div id="photoModal" class="modal" style="display: none;">
    <div class="modal-content">
      <span id="closePhotoModal" class="close">&times;</span>
      <img id="photoModalImg" src="" alt="Photo" style="max-width: 100%;">
      
      <div class="update-photo-options">
        <button id="btnChangeProfilePhoto">Mettre à jour la photo de profil</button>
        <button id="btnChangeCoverPhoto">Mettre à jour la photo de couverture</button>
      </div>
    </div>
  </div>
  