<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta charset="UTF-8">
    <title>{% block title %}SportLink{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header class="header">
        <div class="header-container">
            <a href="{{ url_for('profile.profile') if current_user.is_authenticated else url_for('main.index') }}" class="logo-container">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo SportLink">
            </a>
            <nav class="nav">
                <ul class="menu">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('news_feed.news_feed') }}">Fil d'actualité</a></li>
                        <li><a href="{{ url_for('profile.profile') }}">Profil</a></li>
                        <li><a href="{{ url_for('profile.list_friends') }}">Amis</a></li>
                        <li><a href="{{ url_for('messages.inbox') }}">Messages</a></li>
                        <li><a href="{{ url_for('notifications.list_notifications') }}">Notifications</a></li>
                        <li><a href="{{ url_for('events.organize') }}">Organiser</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Déconnexion</a></li>
                        <li>Bienvenue sur SportLink, {{ current_user.username }}</li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">Connexion</a></li>
                        <li><a href="{{ url_for('auth.register') }}">Inscription</a></li>
                        <li>Bienvenue sur SportLink</li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <main class="main-content">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 SportLink. Tous droits réservés.</p>
    </footer>
    {% block extra_scripts %}{% endblock %}
</body>
</html>
