<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialiser le mot de passe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container signup-bubble">
        <h3>Réinitialiser le mot de passe</h3>
        <form method="POST" action="{{ url_for('reset_password_request') }}">
            {{ form.hidden_tag() }}
            <label for="email">{{ form.email.label.text }}</label>
            {{ form.email(size=32) }}<br>
            <button type="submit">Envoyer</button>
        </form>
    </div>
</body>
</html>
